@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --primary: #333d79ff;
  --secondary: #faebefff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--secondary);
  color: var(--primary);
}

.App {
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.title-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.time-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
}

.calling-out-participants-container {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.join-component-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-component {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box .timetext {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .join-component-container {
    flex-direction: column;
  }

  .action-user-btn-container {
    width: 100%;
  }

  .action-user-btn {
    width: 100%;
    margin-bottom: 12px;
  }

  .App {
    justify-content: flex-start;
    padding-top: 50px;
  }
}
