@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
  --primary: #333D79FF;
  --secondary: #FAEBEFFF; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--secondary);
  color:var(--primary); 
}

.App {
  font-family: 'Source Sans Pro', sans-serif;
}

.Title {
  text-align: center;
  margin: 3px;
  margin-top:  20px;
  /* font-family: 'Poppins', sans-serif; */
}

.Title p {
  font-weight: 400;
}

.timer {
  align-items: center;
  display:flex;
  display: flex;
  height: 70vh;
  margin-top: 8px;
  padding: 10px;
  text-align: center;
  width: auto;
}
.container_2{
  align-items: center;
  display:flex;
  display: flex;
  height: 70vh;
  margin-top: 8px;
  margin-left: 20px;
  padding: 10px;
  text-align: center;
  width: 550px;
}
.container{
  display: flex;
  padding: 20px;
  justify-content: center;
}
.box {
  font-weight: 300;
  padding: 40px;
  color: var(--primary);
  font-weight: bold;
  font-size: 30px;
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  position: relative;
  bottom: 80px;
  margin-left: 10%;
  margin-right: 10%;
}
.btn{
  border-radius: 8px;
  padding: 10px;
  background-color: var(--primary);
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  border: 2px solid var(--primary);
  color: var(--secondary);
  transition: 0.3s;
}
.btn:hover {
  cursor: pointer;
  color: var(--primary);
  border: 2px solid var(--primary);
  background-color: var(--secondary);
}
.col-4:last-child .box {
  border-right-color: transparent;
}

.box p {
  font-size: calc(18px + 2vmin);
  margin: 0;
}

.text {
  font-size: 20px;
  color: var(--primary);
  font-weight: 500;
  font-size: 20px;
}

.footer {
  padding: 8px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 16px;
}



.footer a {
  text-decoration: underline;
  color: var(--primary);
  /* background-color: #333D79FF; */
  padding: 2px;
  border: 2px dashed var(--secondary);;
  border-radius: 4px; 
  transition: 0.8s;
}

.footer a:hover {
  opacity: 0.9;
  border: 2px dashed var(--primary);
}
